*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: grey;
}
.resume__left  span,
.resume__left  p{
    color:#b1eaff
}

.resume__right h1{
    color:#0bb5f4;
    margin-bottom:15px;
}

.item-circle{
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    border-radius:50%;
    background-color: #fff;
}

.item-circle__icon{
   font-size: 1.25rem;
    color:#0bb5f4;
}

.interval{
    position:relative;
    margin-top:20px;
}

.interval::before{
    content:"";
    position:absolute;
    top:-10px;
    left:50%;
    transform: translateX(-50%);
    display:flex;
    justify-content: center;
    width:100%;
    height:2px;
    background-color: #b1eaff;
}

.padding{
    padding:10px 0;
}

.progress-bar{
    position:relative;
    margin-left:25px;
}

.progress-bar::after{
    content:"";
    position:absolute;
    top:4.5px;
    left:-15px;
    height:100%;
    width:1px;
    background-color:#0bb5f4;
}
.progress-bar:last-child::after{
    height:calc(100% - 4.5px);
}



.progress-bar::before{
    content:"";
    position:absolute;
    top:19.5px;
    left:-20px;
    z-index:1;
    border-radius: 50%;
    width:10px;
    height:10px;
    background-color: #fff;
    border:1px solid #0bb5f4;
}
div .progress-bar:nth-of-type(2)::before{
    top:4.5px;
}

.progress-bar::after{
    content:"";
    position:absolute;
    top:4.5px;
    left:-15px;
    height:100%;
    width:1px;
    background-color:#0bb5f4;
}

.progress-bar:last-child::after{
    height:calc(100% - 4.5px);
}

.progress-bar::before{
    content:"";
    position:absolute;
    top:19.5px;
    left:-20px;
    z-index:1;
    border-radius: 50%;
    width:10px;
    height:10px;
    background-color: #fff;
    border:1px solid #0bb5f4;
}

.progress-bar + 
.progress-bar{
    padding-top:15px;
}
.progress-bar__date{
    margin-bottom:10px;
}

.progress-bar__description--span{
    color:#555555
}



.resume{
    display:flex;
    height:12.2in;
    width:8.5in;
}

.resume__left{
    width:280px;
    background-color: #0bb5f4;
    color:white;
}

.resume__left__photo{
    display:flex;
    justify-content: center;
    align-items: center;
}


.resume__left__photo--img{
    display:block;
    border-radius: 50%;
    height:170px;
    object-fit: cover;
}

.resume__left__content{
    margin: 0 10px;
}


.resume__left__content__contact__title__main{
    text-align: center;
    font-size: 2rem;
}

.resume__left__content__contact__title__under{
    text-align: center;
    font-size: 1.5rem;
}


.resume__left__content__contact__title{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.resume__left__content__contact__item{
    display:flex;
}



.resume__left__content__contact__item + .resume__left__content__contact__item{
    margin-top:10px;
}

.resume__left__content__contact__item__icon{
    height:35px;
    width:35px;
}

.resume__left__content__contact__item__content{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
}

.resume__left__content__technologies{
    padding-bottom:10px;
}

.resume__left__content__technologies__wrapper{
    display:grid;
    grid-template-rows: repeat(5,60px);
    grid-template-columns: repeat(5,50px);
   
}

.resume__left__content__technologies__wrapper__item{
    display:flex;
    justify-content: center;
    align-items: center;
}

.resume__left__content__technologies__wrapper__item:nth-child(3){
    display:flex;
    align-items: center;
    justify-content: center;
}


.resume__left__content__technologies__wrapper__item__technology{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resume__left__content__languages__title{
    margin-bottom:15px;
    text-align: center;
}

.resume__left__content__tools__wrapper{
    display:flex;
    justify-content: space-around;
}

.resume__left__content__tools__title{
    margin-bottom:15px;
}

.resume__left__content__tools__title--h1{
    text-align: center;
}

.resume__left__content__tools__wrapper__item{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.resume__left__content__tools__wrapper__item__name--p{
    text-align: center;
}

.resume__left__content__tests--h1{
    text-align: center;
}

.resume__right{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    padding:15px;
    background-color: #fff;
}







.resume__right__experience__item__name--h3{
    font-weight: 400;
}



.resume__right__education{
    margin-top:40px;
}

/* .progress-bar__date{
    padding-top:15px;
} */

.resume__right__rodo{
    text-align: center;
    columns: #555555;
    font-size: 0.9rem;
}
